<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- Page Servlets -->
	<servlet>
		<servlet-name>HomePageServlet</servlet-name>
		<servlet-class>page.HomePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePageServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UnderMarketPageServlet</servlet-name>
		<servlet-class>page.UnderMarketPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnderMarketPageServlet</servlet-name>
		<url-pattern>/undermarket</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>SteamMarketAnalyzer</servlet-name>
		<servlet-class>marketanalyzer.SteamMarketAnalyzerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SteamMarketAnalyzer</servlet-name>
		<url-pattern>/analyze</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InitializeItemSearchServlet</servlet-name>
		<servlet-class>marketanalyzer.InitializeItemSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitializeItemSearchServlet</servlet-name>
		<url-pattern>/initialize</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmailTester</servlet-name>
		<servlet-class>marketanalyzer.SendEmailTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailTester</servlet-name>
		<url-pattern>/testemail</url-pattern>
	</servlet-mapping>

	<!-- Cron jobs -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>MarketCrawlerCron</servlet-name>
		<servlet-class>marketanalyzer.CrawlMarketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarketCrawlerCron</servlet-name>
		<url-pattern>/cron/crawlmarket</url-pattern>
	</servlet-mapping>
	
	<!-- Configure mailing -->
	<servlet>
		<servlet-name>mailhandler</servlet-name>
		<servlet-class>mail.MailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailhandler</servlet-name>
		<url-pattern>/_ah/mail</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<!-- Other stuff -->

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet
		</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>